.aboutMe {
    background-color: var(--white);
    color: var(--dark-brown);
    width: 80%;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMe h1 {
    font-family: 'Poppins', sans-serif;
}

.aboutMe-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMe .profileImage {
    max-height: 300px;
    overflow: hidden;
    padding: .5rem;
    border:none;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px #e4e3e3;
    transition: all 200s ease-in-out;
}

.aboutMe .profileImage:hover .profileImage:focus {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #e4e3e3;
  }