.contactMe {
    background-color: var(--medium-brown);
    color: var(--cream);
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contactMe h1 {
    font-family: 'Poppins', sans-serif;
}

.sendMe-emailForm {
    background-color: var(--cream);
    color: var(--dark);
    border:none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 65%;
}