.myProjects {
    background-color: var(--dark-brown);
    color: var(--cream);
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.myProjects h1 {
    font-family: 'Poppins', sans-serif;
}