.myProjects {
    background-color: var(--dark-brown);
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.myProjects h1 {
    font-family: 'Poppins', sans-serif;
}

.myProjects .myProjects-content {
    background-color: var(--white);
    color: var(--dark-brown);
    margin: 1rem auto;
    padding: 1rem;

}
.myProjects .myCollaborations-content {
    background-color: var(--cream);
    color: var(--dark-brown);
    margin: 1rem auto;
    padding: 1rem;
}

.myProjects .myProjects-thumbnail > img {
    padding: 1rem;
    margin: 0 auto;
    /* max-height: 300px; */
}