.resume
.resume-container {
    background-color: var(--white);
    color: var(--dark-brown);
    width: 80%;
    border-radius: 1rem;
    border: solid var(--dark-brown);
    padding: 1rem;
    margin: 1.2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume h1 {
    font-family: 'Poppins', sans-serif;
}
