.technicalSkills {
    background-color: var(--light-brown);
    color: var(--dark);
    width: 80%;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.technicalSkills h1 {
    font-family: 'Poppins', sans-serif;
}
