@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
  --cream: #e4e3e3;
  --abalone: #c5bcb8;
  --light-brown: #a17856;
  --pastel-brown: #b29e91;
  --medium-brown: #76523d;
  --dark-brown: #6e3a13;
  --extra-dark-brown: #3b2f26;
}

* ::before ::after {
  margin: 0;
  padding: 0;
}

* ::before ::after {
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans', sans-serif;
}

